{% extends 'base.html' %}
{% load staticfiles %}

{% block titulo %}Inicio - Ven-ERP{% endblock %}


{% block contenido %}


<div class="main-wrapper">
		<div class="container-fluid">
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<i class="icon-exclamation-sign"></i><strong>Warning!</strong> Best check yo self, you're not looking too good.
			</div>
			<div class="row-fluid ">
				<div class="span12">
					<div class="primary-head">
						<h3 class="page-header">Dashboard</h3>
						<ul class="top-right-toolbar">
							<li><a data-toggle="dropdown" class="dropdown-toggle blue-violate" href="#" title="Users"><i class="icon-user"></i></a>
							</li>
							<li><a href="#" class="green" title="Upload"><i class=" icon-upload-alt"></i></a></li>
							<li><a href="#" class="bondi-blue" title="Settings"><i class="icon-cogs"></i></a></li>
						</ul>
					</div>
					<ul class="breadcrumb">
						<li><a href="#" class="icon-home"></a><span class="divider "><i class="icon-angle-right"></i></span></li>
						<li><a href="#">Library</a><span class="divider"><i class="icon-angle-right"></i></span></li>
						<li class="active">Data</li>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="switch-board gray">
						<ul class="clearfix switch-item">
							<li><span class="notify-tip">30</span><a href="#" class="brown"><i class="icon-user"></i><span>User</span></a></li>
							<li><a href="#" class="orange"><i class="icon-cogs"></i><span>Settings</span></a></li>
							<li><a href="#" class=" blue-violate"><i class="icon-lightbulb"></i><span>Support</span></a></li>
							<li><a href="#" class=" magenta"><i class="icon-bar-chart"></i><span>Statistics</span></a></li>
							<li><a href="#" class="green"><i class="icon-shopping-cart"></i><span>Orders</span></a></li>
							<li><a href="#" class=" bondi-blue"><i class="icon-time"></i><span>Events</span></a></li>
							<li><a href="#" class=" dark-yellow"><i class="icon-file-alt"></i><span>Post</span></a></li>
							<li><a href="#" class=" blue"><i class="icon-copy"></i><span>Documents</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row-fluid ">
				<div class="span12">
					<div class="board-widgets gray">
						<div class="board-widgets-head clearfix">
							<h4 class="pull-left">Site Stat</h4>
							<a href="#" class="widget-settings"><i class="icon-group"></i></a>
						</div>
						<div class="board-widgets-content">
							<div class="row-fluid">
								<div class="span8">
									<div class="widget-container">
										<div id="visitors-chart">
											<div id="visitors-container" style="width: 100%;height:300px; text-align: center; margin:0 auto;">
											</div>
										</div>
									</div>
								</div>
								<div class="span4">
									<div class="widget-container">
										<div id="pie-chart-donut" class="pie-chart">
											<div id="legendPlaceholder">
											</div>
											<div id="pie-donutContainer" style="width: 100%;height:280px; text-align: left;">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="stat-text">
								 26458 <i class="up icon-sort-up"></i> 5%
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid ">
				<div class="span3">
					<div class="board-widgets gray">
						<div class="board-widgets-head clearfix">
							<h4 class="pull-left">Visitors</h4>
							<a href="#" class="widget-settings"><i class="icon-group"></i></a>
						</div>
						<div class="board-widgets-content">
							<div class="line-min-chart min-chart">
							</div>
							<div class="stat-text">
								 26458 <i class="up icon-sort-up"></i> 5%
							</div>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="board-widgets gray">
						<div class="board-widgets-head clearfix">
							<h4 class="pull-left">Page View </h4>
							<a href="#" class="widget-settings"><i class="icon-file-alt"></i></a>
						</div>
						<div class="board-widgets-content">
							<div class="bar-min-chart min-chart">
							</div>
							<div class="stat-text">
								 26458 <i class="down icon-sort-down"></i> 5%
							</div>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="board-widgets gray">
						<div class="board-widgets-head clearfix">
							<h4 class="pull-left">Clicks </h4>
							<a href="#" class="widget-settings"><i class="icon-hand-up"></i></a>
						</div>
						<div class="board-widgets-content">
							<div class="pie-min-chart min-chart">
							</div>
							<div class="stat-text">
								 26458 <i class="down icon-sort-down"></i> 5%
							</div>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="board-widgets gray">
						<div class="board-widgets-head clearfix">
							<h4 class="pull-left">Earn Money </h4>
							<a href="#" class="widget-settings"><i class="icon-money"></i></a>
						</div>
						<div class="board-widgets-content">
							<div class="tristate-min-chart min-chart">
							</div>
							<div class="stat-text">
								 26458 <i class="down icon-sort-down"></i> 5%
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid ">
				<div class="span3">
					<div class="board-widgets orange small-widget">
						<a href="#"><span class="widget-stat">325</span><span class="widget-icon icon-comments"></span><span class="widget-label">Comments</span></a>
					</div>
				</div>
				<div class="span3">
					<div class="board-widgets bondi-blue small-widget">
						<a href="#"><span class="widget-stat">568</span><span class="widget-icon icon-user"></span><span class="widget-label">User</span></a>
					</div>
				</div>
				<div class="span3">
					<div class="board-widgets green small-widget">
						<a href="#"><span class="widget-stat">255</span><span class="widget-icon icon-file-alt"></span><span class="widget-label">Files</span></a>
					</div>
				</div>
				<div class="span3">
					<div class="board-widgets brown small-widget">
						<a href="#"><span class="widget-stat">6587</span><span class="widget-icon icon-money"></span><span class="widget-label">Earnings ($)</span></a>
					</div>
				</div>
			</div>
			<div class="row-fluid ">
				<div class="span3">
					<div class="board-widgets green">
						<div class="board-widgets-head clearfix">
							<h4 class="pull-left"><i class="icon-inbox"></i> Inbox </h4>
							<a href="#" class="widget-settings"><i class="icon-cog "></i></a>
						</div>
						<div class="board-widgets-content">
							<span class="n-counter">235</span><span class="n-sources">Unread Messages</span>
						</div>
						<div class="board-widgets-botttom">
							<a href="#">Go to Inbox <i class="icon-double-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="board-widgets blue-violate">
						<div class="board-widgets-head clearfix">
							<h4 class="pull-left"><i class=" icon-comment"></i> Comments </h4>
							<a href="#" class="widget-settings"><i class="icon-cog "></i></a>
						</div>
						<div class="board-widgets-content">
							<span class="n-counter">52</span><span class="n-sources">New Comments</span>
						</div>
						<div class="board-widgets-botttom">
							<a href="#">Go to Comments<i class="icon-double-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="board-widgets dark-yellow">
						<div class="board-widgets-head clearfix">
							<h4 class="pull-left"><i class=" icon-file-alt"></i> Post </h4>
							<a href="#" class="widget-settings"><i class="icon-cog "></i></a>
						</div>
						<div class="board-widgets-content">
							<span class="n-counter">85</span><span class="n-sources">New Post</span>
						</div>
						<div class="board-widgets-botttom">
							<a href="#">Go to Post<i class="icon-double-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="board-widgets magenta">
						<div class="board-widgets-head clearfix">
							<h4 class="pull-left"><i class="icon-user"></i> User </h4>
							<a href="#" class="widget-settings"><i class="icon-cog "></i></a>
						</div>
						<div class="board-widgets-content">
							<span class="n-counter">65</span><span class="n-sources">New User</span>
						</div>
						<div class="board-widgets-botttom">
							<a href="#">Go to User<i class="icon-double-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<h3 class=" page-header"> Tab Widgets</h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div class="tab-widget">
						<ul class="nav nav-tabs" id="myTab1">
							<li class="active"><a href="#user"><i class="icon-user"></i> Users</a></li>
							<li><a href="#post"><i class=" icon-file"></i> Post</a></li>
							<li><a href="#task"><i class=" icon-tasks"></i> Task List</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="user">
								<div class="user_list">
									<div class="user_block">
										<div class="info_block">
											<div class="widget_thumb">
												<img width="46" height="46" alt="User" src="{% static "images/user-thumb1.png" %}">
											</div>
											<ul class="list_info clearfix">
												<li><span>Name: <i><a href="#">Zara Zarin</a></i></span></li>
												<li><span>IP: 194.132.12.1 Date: 13th Jan 2012</span></li>
												<li><span>User Type: Paid, <i>Package Name:</i><b>Gold</b></span></li>
											</ul>
										</div>
										<div class="clearfix">
											<div class="btn-group pull-left">
												<a href="#" class="btn btn-mini"><i class=" icon-remove"></i> Suspend</a><a href="#" class="btn "><i class=" icon-remove-sign"></i> Delete</a>
											</div>
											<div class="btn-group pull-right">
												<a href="#" class="btn"><i class=" icon-edit"></i> Edit</a>
											</div>
										</div>
									</div>
									<div class="user_block">
										<div class="info_block">
											<div class="widget_thumb">
												<img width="46" height="46" alt="User" src="{% static "images/user-thumb1.png" %}">
											</div>
											<ul class="list_info clearfix">
												<li><span>Name: <i><a href="#">Zara Zarin</a></i></span></li>
												<li><span>IP: 194.132.12.1 Date: 13th Jan 2012</span></li>
												<li><span>User Type: Paid, <i>Package Name:</i><b>Gold</b></span></li>
											</ul>
										</div>
										<div class="clearfix">
											<div class="btn-group pull-left">
												<a href="#" class="btn btn-mini"><i class=" icon-remove"></i> Suspend</a><a href="#" class="btn "><i class=" icon-remove-sign"></i> Delete</a>
											</div>
											<div class="btn-group pull-right">
												<a href="#" class="btn"><i class=" icon-edit"></i> Edit</a>
											</div>
										</div>
									</div>
									<div class="user_block">
										<div class="info_block">
											<div class="widget_thumb">
												<img width="46" height="46" alt="User" src="{% static "images/user-thumb1.png" %}">
											</div>
											<ul class="list_info clearfix">
												<li><span>Name: <i><a href="#">Zara Zarin</a></i></span></li>
												<li><span>IP: 194.132.12.1 Date: 13th Jan 2012</span></li>
												<li><span>User Type: Paid, <i>Package Name:</i><b>Gold</b></span></li>
											</ul>
										</div>
										<div class="clearfix">
											<div class="btn-group pull-left">
												<a href="#" class="btn btn-mini"><i class=" icon-remove"></i> Suspend</a><a href="#" class="btn "><i class=" icon-remove-sign"></i> Delete</a>
											</div>
											<div class="btn-group pull-right">
												<a href="#" class="btn"><i class=" icon-edit"></i> Edit</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="post">
								<div class="post_list clearfix">
									<div class="post_block clearfix">
										<h6><a href="#">Sed eu adipiscing nisi. Maecenas dapibus lacinia pretium. Praesent eget lectus ac odio euismod consequat. </a></h6>
										<ul class="post_meta clearfix">
											<li><span>Posted By:</span><a href="#">Joe Smith</a></li>
											<li><span>Date:</span><a href="#"> 30th April 2012</a></li>
											<li class="total_post"><span>Total Post: </span><a href="#">30</a></li>
										</ul>
										<div class="btn-group pull-left">
											<a href="#" class="btn"><i class=" icon-edit"></i> Edit</a><a href="#" class="btn "><i class=" icon-remove"></i> Delete</a>
										</div>
										<div class="btn-group pull-right">
											<a href="#" class="btn"><i class=" icon-remove-sign"></i> Reject</a><a href="#" class="btn "><i class=" icon-ok"></i> Approve</a>
										</div>
									</div>
									<div class="post_block clearfix">
										<h6><a href="#">Sed eu adipiscing nisi. Maecenas dapibus lacinia pretium. Praesent eget lectus ac odio euismod consequat. </a></h6>
										<ul class="post_meta clearfix">
											<li><span>Posted By:</span><a href="#">Joe Smith</a></li>
											<li><span>Date:</span><a href="#"> 30th April 2012</a></li>
											<li class="total_post"><span>Total Post: </span><a href="#">30</a></li>
										</ul>
										<div class="btn-group pull-left">
											<a href="#" class="btn"><i class=" icon-edit"></i> Edit</a><a href="#" class="btn "><i class=" icon-remove"></i> Delete</a>
										</div>
										<div class="btn-group pull-right">
											<a href="#" class="btn"><i class=" icon-remove-sign"></i> Reject</a><a href="#" class="btn "><i class=" icon-ok"></i> Approve</a>
										</div>
									</div>
									<div class="post_block clearfix">
										<h6><a href="#">Sed eu adipiscing nisi. Maecenas dapibus lacinia pretium. Praesent eget lectus ac odio euismod consequat. </a></h6>
										<ul class="post_meta clearfix">
											<li><span>Posted By:</span><a href="#">Joe Smith</a></li>
											<li><span>Date:</span><a href="#"> 30th April 2012</a></li>
											<li class="total_post"><span>Total Post: </span><a href="#">30</a></li>
										</ul>
										<div class="btn-group pull-left">
											<a href="#" class="btn"><i class=" icon-edit"></i> Edit</a><a href="#" class="btn "><i class=" icon-remove"></i> Delete</a>
										</div>
										<div class="btn-group pull-right">
											<a href="#" class="btn"><i class=" icon-remove-sign"></i> Reject</a><a href="#" class="btn "><i class=" icon-ok"></i> Approve</a>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="task">
								<ul class="task-list">
									<li class="done"><span class="task-check">
									<input name="" type="checkbox" checked value="">
									</span><a href="#">Etiam vulputate bibendum odio, vitae mollis urna rutrum id.</a></li>
									<li><span class="task-check">
									<input name="" type="checkbox" value="">
									</span><a href="#">Ut ac erat ac magna malesuada aliquam.</a></li>
									<li class="done"><span class="task-check">
									<input name="" type="checkbox" checked value="">
									</span><a href="#">Praesent scelerisque augue a augue lobortis id iaculis mi tincidunt.</a></li>
									<li><span class="task-check">
									<input name="" type="checkbox" value="">
									</span><a href="#">Phasellus tristique nulla at leo interdum pretium.</a></li>
									<li><span class="task-check">
									<input name="" type="checkbox" value="">
									</span><a href="#">Morbi tincidunt lacus et turpis fringilla in vehicula dolor semper.</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="tab-widget">
						<ul class="nav nav-tabs" id="myTab2">
							<li class="active"><a href="#comments-post"><i class="icon-comments"></i> Commnets</a></li>
							<li><a href="#notify"><i class=" icon-envelope-alt"></i> Notification</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="comments-post">
								<div class="comment-items">
									<div class="item-block clearfix">
										<div class="item-thumb pull-left">
											<ul>
												<li class="item-pic"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="anchor"></li>
											</ul>
										</div>
										<div class="item-intro pull-left">
											<p>
												 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec quam odio.
											</p>
											<div class="item-meta">
												<ul>
													<li>@jhone</li>
													<li>1 Min ago</li>
													<li>IP: 192.168.1.2</li>
												</ul>
											</div>
										</div>
                                        
									</div>
                                    <div class="item-block clearfix">
										<div class="item-thumb pull-left">
											<ul>
												<li class="item-pic"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="anchor"></li>
											</ul>
										</div>
										<div class="item-intro pull-left">
											<p>
												 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec quam odio.
											</p>
											<div class="item-meta">
												<ul>
													<li>@jhone</li>
													<li>1 Min ago</li>
													<li>IP: 192.168.1.2</li>
												</ul>
											</div>
										</div>
                                        
									</div>
                                    <div class="item-block clearfix">
										<div class="item-thumb pull-left">
											<ul>
												<li class="item-pic"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="anchor"></li>
											</ul>
										</div>
										<div class="item-intro pull-left">
											<p>
												 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec quam odio.
											</p>
											<div class="item-meta">
												<ul>
													<li>@jhone</li>
													<li>1 Min ago</li>
													<li>IP: 192.168.1.2</li>
												</ul>
											</div>
										</div>
                                        
									</div>
									<div class="item-block clearfix">
										<div class="item-thumb pull-left">
											<ul>
												<li class="item-pic"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="anchor"></li>
											</ul>
										</div>
										<div class="item-intro pull-left">
											<p>
												 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec quam odio.
											</p>
											<div class="item-meta">
												<ul>
													<li>@jhone</li>
													<li>1 Min ago</li>
													<li>IP: 192.168.1.2</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="item-block clearfix">
										<div class="item-thumb pull-left">
											<ul>
												<li class="item-pic"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="anchor"></li>
											</ul>
										</div>
										<div class="item-intro pull-left">
											<p>
												 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec quam odio.
											</p>
											<div class="item-meta">
												<ul>
													<li>@jhone</li>
													<li>1 Min ago</li>
													<li>IP: 192.168.1.2</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="notify">
								<ul class="notification-list">
									<li><a href="#"><i class=" icon-star gray"></i> Donec pretium enim vel nisl viverra posuere.</a></li>
									<li><a href="#"><i class=" icon-bell orange"></i> Vestibulum viverra magna vitae dui volutpat dapibus.</a></li>
									<li><a href="#"><i class=" icon-bolt brown"></i> Fusce eget ipsum in odio consectetur condimentum et id nisl.</a></li>
									<li><a href="#"><i class=" icon-ok-sign green"></i> Mauris fringilla metus in mauris molestie tempor</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div class="content-widgets">
						<div>
							<div class="widget-header-block">
								<h4 class="widget-header"><i class=" icon-table"></i> Table</h4>
							</div>
							<div class="content-box">
								<table class="paper-table">
							<tbody>
							<tr>
								<th>
									Name
								</th>
								<th>
									Email
								</th>
								<th>
									Phone
								</th>
							  </tr>
							<tr>
								<td>
									William
								</td>
								<td>
									sed@ut.com
								</td>
								<td>
									1 88 317 3405-3579
								</td>
							  </tr>
							<tr>
								<td>
									Armando
								</td>
								<td>
									aliquet.Proin.velit@nectellusNunc.ca
								</td>
								<td>
									1 48 785 9884-8986
								</td>
							  </tr>
							<tr>
								<td>
									Randall
								</td>
								<td>
									Phasellus@odioa.edu
								</td>
								<td>
									1 69 507 5179-0064
								</td>
							  </tr>
							<tr>
								<td>
									Trevor
								</td>
								<td>
									rutrum.lorem@loremac.edu
								</td>
								<td>
									1 37 926 6084-5261
								</td>
							  </tr>
							<tr>
								<td>
									Devin
								</td>
								<td>
									fermentum@magna.com
								</td>
								<td>
									1 85 482 9862-2045
								</td>
							  </tr>
							<tr>
								<td>
									Perry
								</td>
								<td>
									ornare.elit@orciDonec.ca
								</td>
								<td>
									1 35 451 5827-8907
								</td>
							  </tr>
							<tr>
								<td>
									Jonah
								</td>
								<td>
									ante.bibendum@loremipsumsodales.com
								</td>
								<td>
									1 57 742 3261-6798
								</td>
							  </tr>
							<tr>
								<td>
									Daquan
								</td>
								<td>
									Mauris@ipsumdolor.edu
								</td>
								<td>
									1 65 155 8114-9683
								</td>
							  </tr>
							<tr>
								<td>
									Fulton
								</td>
								<td>
									sem.egestas@Nullamscelerisque.edu
								</td>
								<td>
									1 39 708 6219-6913
								</td>
							  </tr>
							<tr>
								<td>
									Herrod
								</td>
								<td>
									tortor@mollis.edu
								</td>
								<td>
									1 25 984 4192-7830
								</td>
							  </tr>
							</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
                <div class="span6">
                <div class="content-widgets white">
						<div class="widget-head light-blue">
							<h3><i class="icon-comments-alt"></i> Chat</h3>
						</div>
						<div class="widget-container">
							<div class="tab-widget tabbable tabs-left chat-widget">
								<ul class="nav nav-tabs" id="chat-tab">
									<li class="active"><a href="#user"><span class="user-online"></span><i class="icon-user"></i> Online User </a></li>
									<li><a href="#user1"><span class="user-offline"></span><i class="icon-user"></i> Offline User </a></li>
									<li><a href="#user2"><span class="user-offline"></span><i class="icon-user"></i> Offline User </a></li>
									<li><a href="#user3"><span class="user-offline"></span><i class="icon-user"></i> Offline User </a></li>
									<li><a href="#user4"><span class="user-offline"></span><i class="icon-user"></i> Offline User </a></li>
									<li><a href="#user5"><span class="user-offline"></span><i class="icon-user"></i> Offline User </a></li>
									<li><a href="#user6"><span class="user-online"></span><i class="icon-user"></i> Online User </a></li>
									<li><a href="#user7"><span class="user-online"></span><i class="icon-user"></i> Online User </a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="user">
										<div class="conversation">
											<a href="#" class="pull-left media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Jhon Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation">
											<a href="#" class="pull-left media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Jhon Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation">
											<a href="#" class="pull-left media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Jhon Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation right-align">
											<a href="#" class="pull-right media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Marfy Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation">
											<a href="#" class="pull-left media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Jhon Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation right-align">
											<a href="#" class="pull-right media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Marfy Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation right-align">
											<a href="#" class="pull-right media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Marfy Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="user1">
										 User Offline
									</div>
									<div class="tab-pane" id="user2">
										 User Offline
									</div>
									<div class="tab-pane" id="user3">
										 User Offline
									</div>
									<div class="tab-pane" id="user4">
										 User Offline
									</div>
									<div class="tab-pane" id="user5">
										 User Offline
									</div>
									<div class="tab-pane" id="user6">
										<div class="conversation">
											<a href="#" class="pull-left media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Jhon Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation">
											<a href="#" class="pull-left media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Jhon Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation">
											<a href="#" class="pull-left media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Jhon Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation right-align">
											<a href="#" class="pull-right media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Marfy Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="user7">
										<div class="conversation">
											<a href="#" class="pull-left media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Jhon Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
										<div class="conversation right-align">
											<a href="#" class="pull-right media-thumb"><img src="{% static "images/item-pic.png" %}" width="34" height="34" alt="user"></a>
											<div class="conversation-body ">
												<h4 class="conversation-heading">Marfy Says:</h4>
												<p>
													 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="chat-input">
									<textarea class="chat-inputbox span12" name="input"></textarea>
									<button class="btn btn-primary btn-large" type="button"><i class="icon-ok"></i> Send</button>
								</div>
							</div>
						</div>
					</div>
                </div>
			</div>
		</div>
	</div>




{% endblock %}
