{% extends 'base.html' %}
{% load staticfiles %}

{% block titulo %} A&ntilde;adir Clientes {% endblock %}

{% block javascripts %}

<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript">

    $(function () {
        $('#datetimepicker4').datetimepicker({
            pickTime: false
        });
    });

</script>

{% endblock %}



{% block contenido %}


	<div class="main-wrapper">
		<div class="container-fluid">
			<div class="row-fluid ">
				<div class="span12">
					<div class="primary-head">
						<ul class="top-right-toolbar">
							<li>
								<a href="/clientes/" class="green" title="Lista de Clientes">
									<i class=" icon-list"></i>
								</a>
							</li>
						</ul>
					</div>
					<ul class="breadcrumb">
						<li>
							<a href="#" class="icon-home"></a>
							<span class="divider ">
								<i class="icon-angle-right"></i>
							</span>
						</li>
						<li>
							<a href="/clientes/">Clientes</a>
							<span class="divider">
								<i class="icon-angle-right"></i>
							</span>
						</li>
						<li class="active">Nuevo</li>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="content-widgets gray">
						<div class="widget-head blue">
							<h3> Nuevo Registro:</h3>
						</div>
						<div class="widget-container">
							<div class="form-container grid-form form-background">
								<form class="form-horizontal left-align" method="POST" action="">{% csrf_token %}
									

								<fieldset class="default">
									<legend>Informaci&oacute;n del Cliente:</legend>

									<div class="control-group">
										<label class="control-label">C&oacute;digo:</label>
										<div class="controls">
											<input id="codigo" name="codigo" type="text" value="{{cliente.codigo}}" class="span5"/>
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label">RIF:</label>
										<div class="controls">
											<input id="rif" name="rif" class="span6" type="text" value="{{cliente.rif}}"/>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">Nombre:</label>
										<div class="controls">
											<input id="nombre" name="nombre" type="text" class="span10" value="{{cliente.nombre}}"/>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">Fecha de Ingreso:</label>
										<div class="controls">
											<div id="datetimepicker4" class="input-append">
												<input data-format="yyyy-MM-dd" type="text" name="fecha_ing" id="fecha_ing" value="{{cliente.fecha_ing}}">
												<span class="add-on">
													<i data-time-icon="icon-time" data-date-icon="icon-calendar">
													</i>
												</span>
											</div>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">Estatus:</label>
										<div class="controls">
											<select name="status" class="span4">
												<option value="True">Activo</option>
												<option value="False">Inactivo</option>
											</select>
										</div>
									</div>




								</fieldset>

			

									<fieldset class="default">
										<legend>Informaci&oacute;n de Contacto:</legend>
										

										<div class="control-group">
											<label class="control-label">Tel&eacute;fono:</label>
											<div class="controls input-icon">
												<i class="icon-phone"></i>
												<input id="telefono" name="telefono" type="text" class="span5" value="{{cliente.telefono}}"/>
											</div>
										</div>

										<div class="control-group">
											<label class="control-label">Correo Electr&oacute;nico:</label>
											<div class="controls input-icon">
												<i class="icon-envelope"></i>
												<input id="correo" name="correo" type="email" class="span5" value="{{cliente.correo}}"/>
											</div>
										</div>

										<div class="control-group">
											<label class="control-label">Direcci&oacute;n:</label>
											<div class="controls">
												<textarea class="span10" id="direccion" name="direccion">{{cliente.direccion}}</textarea>
											</div>
										</div>
										
									</fieldset>


									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Guardar</button>
										<button type="button" class="btn">Cancelar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
